{% extends 'me/base.html' %}

{% block content %}
<header>
  <div class='wrapper about'>
    <h1>About</h1>
    <p>Who am I?</p>
  </div>
</header>
  
  <div class='wrapper'>
    <div class='about'>
      <p>
      My name is Leo Khachatorians and I like to 
      <a class='item' href='http://www.github.com/leokhachatorians'>program</a>.
      I spend a decent chunk of time programming in all things Python related, but I do dabble with C, C#, PHP, and the occasional Rust.
      </p></br>

      <p>
      I am currently experimenting with web development and growing my skills in the
      technical domain of front-end development with JavaScript as well as becomming a stronger
      designer.
      </p></br>

      <p>
      I have a Bachelors Degree from 
      <a class='item' href='https://en.wikipedia.org/wiki/California_State_University,_Northridge'>California State University, Northridge</a>
      in Political Science
      and am an avid junkie of all things law and politics related. I am also currently in the process
      of taking prerequisites for a Computer Science Masters.
      </p></br>
    </div>
  </div>

{% endblock %}
