{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
		<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-wdith, initial-scale=1, maximum-scale=1">

			<link href="http://fonts.googleapis.com/css?family=Roboto:400,700,300" rel="stylesheet" type="text/css">

			<link rel="stylesheet" type="text/css" href="{% static 'me/css/bootstrap.min.css' %}"/>
			<link rel="stylesheet" type="text/css" href="{% static 'me/css/resume.css' %}"/>
			<link rel="stylesheet" type="text/css" href="{% static 'me/css/index.css' %}"/>
		</head>

		<body>
        <input type="checkbox" id="sidebartoggler">
        <div class="page-wrap">
          <label for="sidebartoggler" class="toggle">=</label>

          <div class="sidebar">
            <ul>
              <li><a class="item" href='/'>Home</a></li>
              <li><a class="item" href='/about'>About</a></li>
              <li><a class="item" href="/resume">Resume</a></li>
              <li><a class="item" href="/projects">Projects</a></li>
              <li><a class="item" href="#links">Links</a></li>
              <li><a class="item" href="#0">Blog</a></li>
            </ul>
          </div>
        </div>
        {% block content %}
        {% endblock %}
			<script src="{% static 'me/js/jquery-3.1.0.min.js' %}"></script>
			<script src="{% static 'me/js/main.js' %}"></script>
		</body>
</html>
