{% extends 'me/base.html' %}
{% block content %}

<header>
  <div class='wrapper about'>
    <h1>Projects</h1>
    <p>Bits and Pieces</p>
  </div>
</header>

<div class="wrapper">

  <a class='article-details' target="_blank" href="/projects/throw">
    <h3>Throw</h3>
    <p class="description">Throw yourself into other peoples tweets.</p>
    <span>Python | JavaScript</span>
  </a>

  <a class='article-details' target="_blank" href="http://github.com/leokhachatorians/talk">
    <h3>Talk</h3>
    <p class="description">A multi-threaded chat application utilizing Bluetooth.</p>
    <span>Python | Tkinter | PyBluez</span>
  </a>

  <a class='article-details' target="_blank" href="http://github.com/leokhachatorians/organize">
    <h3>Organize</h3>
    <p class="description">A command line tool which automatically sorts and places files into
    seperate folders depending on their extension.</p>
    <span>Python | Urwid</span>
  </a>

  <a class='article-details' target="_blank" href="http://github.com/leokhachatorians/cortez">
    <h3>Cortez</h3>
    <p class="description">Command line tool to download songs off SoundCloud.</p>
    <span>Python | Urwid</span>
  </a>

</div> 

{% endblock %}
