{% extends 'throw/base.html' %}
{% block content %}

<div class="col-xs-12 header">
  <h1>Throw
    <sub class="hidden-xs">Real Time-ish Twitter Watching</sub>
  </h1>
  <span class="counter">
    Tweet Counter: 
    <span id="counter">0</span>
  </span>
</div>
<div class="tweet_space"></div>

<div class='modal fade tweet-modal' tabindex='-1' role='dialog' aria-hidden='true'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <div class='profile-avatar'>
          <img class='profile-avatar-image' id='modal-avatar' src=''>
        </div>
        <h3><span id='modal-screen-name'></span></h3>
        <p id='modal-tweet'></p>
      </div>
      <div class='modal-body'>
        <div id="tweet-reply-body">
          {% if is_auth %}
          <form action="{% url 'throw:tweet' %}" method='post'>{% csrf_token %}
              {% for field in form.visible_fields %}
                <div class="row" id="{{ field.auto_id }}">
                  <div class="col-xs-1">
                    <p>{{ field.label_tag }}</p>
                  </div>
                  <div class="col-xs-11">
                    {{ field }}
                  </div>
                </div>
              {% endfor %}
              <div class="modal-footer">
                <button class='btn' type="submit">Send</button>
              </div>
              {% for hidden in form.hidden_fields %}
                {{ hidden }}
              {% endfor %}
            </form>
          {% else %}
            <p>Twitter has blocked read/write access for this app, can't send out a tweet currently.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
