{% extends 'trumpify/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="row">
  <header>
      <h1 class="header">Trumpov Tweet</h1>
  </header>
</div>
  <span class="counter"><sub>Trumpism Counter: </sub><sub id="counter">0</sub></span>
</br></br></br>
</br></br></br>
<div class="row col-xs-12 col-xs-offset-2">
  <div class="tweet-bulk">
    <div class="row">
      <div class="profile-avatar col-xs-6">
        <img class="profile-avatar-image" src="{% static 'trumpify/images/trump.jpg' %}">
      </div>
      <strong class="fullname">
        Donald J. Trump
      <img src="{% static 'trumpify/images/verified.png' %}">
      </strong>
      <div class="username">
        @realDonaldTrump
      </div>
    </div>
    <div class="row">
      <div class="tweet-text-size">
        <span id="text">My name is Donald J. Trump and I approve this message.</span>
      </div>
    </div>
    <div class="row stats">
      <li class="stat-count">
        <a>Retweets</a>
        <strong id="retweets">5391</strong>
      </li>
      <li class="stat-count">
        <a>&nbsp;&nbsp;Likes</a>
        <strong id="likes">9483</strong>
      </li>
      <li class="avatar-row">
        <a class="small-icon"><img class="face" src="{% static 'trumpify/images/face1.jpg' %}"></a>
        <a class="small-icon"><img class="face" src="{% static 'trumpify/images/face2.jpg' %}"></a>
        <a class="small-icon"><img class="face" src="{% static 'trumpify/images/face3.jpg' %}"></a>
        <a class="small-icon"><img class="face" src="{% static 'trumpify/images/face4.jpeg' %}"></a>
        <a class="small-icon"><img class="face" src="{% static 'trumpify/images/face5.jpg' %}"></a>
        <a class="small-icon"><img class="face" src="{% static 'trumpify/images/face6.jpg' %}"></a>
        <a class="small-icon"><img class="face" src="{% static 'trumpify/images/face7.jpg' %}"></a>
        <a class="small-icon"><img class="face" src="{% static 'trumpify/images/face8.jpg' %}"></a>
        <a class="small-icon"><img class="face" src="{% static 'trumpify/images/face9.jpeg' %}"></a>
      </li> 
    </div> 
    <div class="client-and-actions">
      <span class="metadata">
        <span id="date">6:20 AM - 25 Sep 2016</span>
      </span>
    </div>
    <div class="stream-item-footer">
      <div class="action-list">
        <div class="action">
          <button class="button-icon" data-toggle="modal" data-target="#modal">
            <img class="action-icon" src="{% static 'trumpify/images/reply.svg' %}">
          </button>
        </div>
        <div class="action">
          <button class="button-icon" data-toggle="modal" data-target="#modal">
            <img class="action-icon" src="{% static 'trumpify/images/retweet.svg' %}">
          </button>
        </div>
        <div class="action">
          <button class="button-icon" data-toggle="modal" data-target="#modal">
            <img class="action-icon" src="{% static 'trumpify/images/like.svg' %}"></img>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row col-xs-12 col-xs-offset-2">
  </br>
  <button id="fetch_btn" class='btn btn-primary' onclick="fetch();">Trumpify</button>
</div>

<div id="modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Trumpov Tweet</h4>
      </div>
      <div class="modal-body">
        <p>A Markov Chain experiment with none other than 'The Donald'</p>
      </div>
    </div>
  </div>

{% endblock %}
